$warning:#ffdd57;
$white:#fff;
$primary:#15038C;
$secondary:#DF0045;
$dark:#253840;
$success:#23d160;
$default:#1a1a1a;
$info:#209cee;
$link:#3273dc;
//$fairuz:#01597C;
$fairuz:#01558C;
$danger:#ff3860;


$cart-red:#D91424;
$cart-black:#101011;
$cart-yellow:#F2CE16;
$cart-white:#EAF4FE;
$cart-brown:#DDA273;
$cart-blue:#C3EDFA;

$argon:#27293D;
$main:#1E1E2E;
$second:#1F8EF1;
argon{
	color: $argon;
}

$primary:#1d8cf8;
$bg:#151515;
$second:#202022;
$text-color:#949495;
$hover:#3a3b3c;
$gradient:linear-gradient(0deg,#3358f4,#1d8cf8);
$gradient1:linear-gradient(to bottom left,#344675,#263148,#344675);