.form {
  width: 100%;

  &__container {
    @include flex();
    flex-direction: column;
  }
  .form__images {
    &--options{
      display: flex;
      .icon{
        width:4rem;
        height:4rem;
        border-radius: 2rem;
        background:$hover;
        @include flex();
        cursor: pointer;
        transition: all .3s;
        &.crop{
         
          &:hover{background:$primary;}
        }
        &.del{
          margin-right: 1rem;

          &:hover{
          background:$danger; 
        }

        }
      }
    }
    &--container {
      background: $bg;
      transition: all 0.3s;
    }
    &--row {
      padding: 1rem 2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-radius: 0 0 1rem 1rem;

      img {
        width: 10rem;
        border-radius: 1rem;
      }
      .img {
        position: relative;
        overflow: hidden;
        margin: 0 0.4rem;

      }
      .img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        border-radius: 0.3rem;
        transition: all 0.3s;
        cursor: pointer;
        .close {
          display: inline-block;
          position: absolute;
          right: 0.3rem;
          top: -3rem;
          transition: all 0.3s;
          z-index: -122;
          visibility: hidden;
        }
        &:hover {
          backdrop-filter: blur(3px);
          .close {
            visibility: visible;
            top: 0.3rem;
          }
        }
      }
    }
  }
  &__heading {
    margin-bottom: 2rem;

    h3 {
      font-size: 3.7rem;
      font-weight: 700;
      color: #fff;
      font-family: "Montserrat";
      line-height: 1.13;
      text-transform: capitalize;
    }
  }
  &__user {
    display: flex;
    align-items: center;

    &--img {
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
     
      img{
      width: 5rem;
      height: 5rem;
      border-radius: 2.5rem;
      }
    }
    &--username {
      font-size: 1.4rem;
      color: #fff;
      padding-left: 0.8rem;
      font-family: "Montserrat";
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }

  &__body {
    width: 40rem;
    border-radius: 2rem;
    padding: 2rem 3rem 3.4rem 3rem;
    margin: 0 auto;
    background: $second;
    position: relative;
    &.port{
      padding-top: 4rem;
    }
    &.big {
      width: 100%;
    }
  }
  &__control{
        margin: 1rem 0 2rem 0;
     &.dup{
      display: flex;
      justify-content: space-between;
      .form__unit{
        flex:0 1 calc(50% - 1rem);
      }
     }
     &.tri{
      display: flex;
      justify-content: space-between;
      .form__unit{
       flex:0 1 calc(33.33333% - 1rem);
      }
     }
  } 
  &__unit {
    position:relative;
    border-radius:.4rem;
    margin-bottom: .4rem;
    &.features {
      position: relative;
      .features__icons {
        position: absolute;
        top: 0;
        right: 0;
        height: 12rem;

        &--body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;
          padding: 0 2rem;
          border-left: 1px solid #8b8b85;
          .icon {
            margin: 0.3rem 0;
            transition: all 0.3s;
            cursor: pointer;
            svg {
              transition: all 0.3s;
            }
            &:hover {
              svg {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }

  &__error {
    color: #bf212e;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 0.7rem;
    margin-left: 1rem;
  }

  // &__input {
  //   width: 100%;
  //   border: 1px solid $text-color;
  //   background: transparent;
  //   border-radius: 0.6rem;
  //   font-size: 1.4rem;
  //   line-height: 1.43;
  //   padding: 1rem 1.8rem;
  //   color: hsla(0, 0%, 100%, 0.8);
  //   appearance: none;
  //   transition: all 0.3s;
  //   &:focus {
  //     border: 1px solid $primary;
  //     color: #fff;
  //   }
  //   &::placeholder {
  //     color: $text-color;
  //   }
  // }
&__label{
    position:absolute;
    top:50%;
    left:2rem;
    transform:translateY(-50%);
    color:#8c8c8c;
    font-size:1.6rem;
    text-transform:capitalize;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease, -moz-transform 0.1s ease, -o-transform 0.1s ease;
    pointer-events:none;
  }
  &__label-area{
    position:absolute;
    top:0;
    left:2rem;
    transform:translateY(1rem);
    color:#8c8c8c;
    font-size:1.6rem;
    text-transform:capitalize;
    transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease, -moz-transform 0.1s ease, -o-transform 0.1s ease;
    pointer-events:none;
  }
  &__input{
    padding:1.6rem 2rem 0;
    width:100%;
    background:#333;
    border:none;
    outline:none;
    color:#fff;
    line-height:5rem;
    height:5rem;
    border-radius:.4rem;
    border:2px solid transparent;
    transition:all .3s;
    &:focus{
      background:#454545;
      border-color:$primary;
    }
    &:focus ~ .form__label,
    &:not(:placeholder-shown) ~ .form__label{
      font-size:1.2rem;
      transform:translateY(0);
      top:.7rem;
    }
  }
  &__textarea{
    padding:2rem 2rem 0;
    width:100%;
    background:#333;
    border:none;
    outline:none;
    color:#fff;
    line-height:2rem;
    height:15rem;
    border-radius:.4rem;
    border:2px solid transparent;
    transition:all .3s;
    &:focus{
      background:#454545;
      border-color:$primary;
    }
    &:focus ~ .form__label-area,
    &:not(:placeholder-shown) ~ .form__label-area{
      font-size:1.2rem;
      transform:translateY(0);
      top:.7rem;
    }
  }
  textarea {
    color: hsla(0, 0%, 100%, 0.8);
    height: 12rem;
    min-height: 12rem;
    max-height: 12rem;
    margin: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 7rem 0.78571429em 1em;
    background: $bg;
    outline: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    width: 100%;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1.6rem;
    line-height: 1.2857;
    resize: none;
    vertical-align: top;
    transition: all 0.3s;
    border: none;

    &::placeholder {
      color: $text-color;
    }
    &:focus {
      color: #fff;
    }
  }

  &__else {
    margin: 1rem auto;

    p {
      font-family: "lato";
      font-size: 1.4rem;
      text-transform: capitalize;
      color: $text-color;
      text-align: center;

      a {
        color: $info;

        &:hover {
          color: $link;
        }
      }
    }
  }
}
.slide-down {
  animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) bothslide-down
    0.3s linear;
}
@keyframes slide-down {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
