.nav{
	background: transparent;
	text-align: center;
	 background-size: 210% 210%;
  background-position: 100% 0;
      position: fixed;
      width: 100%;
      z-index: 8;
	&__body{
		padding:0 2rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height:5rem;

		.icon{
			width: 4rem;
			height:4rem;
			border-radius: 2.25rem;
			cursor: pointer;
			transition: all .3s;
			@include flex();
			svg{
				width:2.3rem;
		    	height:2.3rem;
				fill:#fff !important;
			}
			&:hover{
				background: $second;
			}
			&-l{
			svg{
				width: 4rem;
			height:4rem;
			}
			}
			
		}
	}
	&__logo{
		display: flex;
		align-items: center;
		font-size:3rem;
		color:#fff;
		line-height: 2.5rem;
		font-weight: 700;
		font-family: 'Montserrat' !important;
        letter-spacing: .04rem;
		.icon{
			margin-right: 1.3rem;
		}
	}
	&__list{
		display: flex;
	}
	&__item{
		&:not(:last-child){
			margin-right: 2rem;
		}
	}
	&__logout{
	    	span{
	    		cursor: pointer;
	    	}
	    }
	&__link{
		 color: #fff;
		font-size: 1.6rem;
		padding:0 .5rem;
	    border-radius: 2rem;
	    height:4rem;
	    transition: all .3s;
        @include flex();
        .icon{
        	svg{
        		transition: all .3s;
        	}
        } 
	    
	}
}
.active{
        color: $fairuz;
        .icon{
        	svg{
        		fill:$second !important;
        		width: 3rem !important;
        		height: 3rem !important;
        	}
        }
    }