body{
	background:#151515;
}
.main{
    width: 100%;
}
 
 .emjoy{
 	position: absolute;
 	top: 0;
 	left:0;
  	  > div:nth-child(2){
                height:0 !important;
            }
            .picker{
                position: absolute;
                z-index: 100;
                top:-20rem; 
                left:-20rem;
            }
 }
 .icon__emojy{
 	display: inline-block;
 	position: relative;
 }