.weather {
  margin:2rem 0;
  background: $second;
  padding:3rem 2rem;
  border-radius: 1rem;
  &__container {
  }
  &__body {
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &__header {
    //background: $hover;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:22rem;
    border-radius: 1rem;
    background-size: cover;
    background-repeat:no-repeat;
    &__deg{
      font-size: 4rem;
      font-weight: 500;
      color:#fff;
     }
    &__des {
      display: flex;
      align-items: center;
      .icon{
        img{
          width:6rem;
        }
      }
      .text{
        color:#fff;
        font-weight: 300;
      }
    }
    
  }
  &__welcome{
    margin-bottom: 4rem;
    &__head{
      font-size: 2rem;
      color:#fff;
      font-weight: 400;
    }
    &__place{
      margin:1rem 0;
              display: flex;
        align-items: center;
      .icon{
      }
      .text{
       font-size: 1.7rem;
      color:#fff;
      font-weight: 400;
      margin-left: 1rem;
      }
    }
    &__time{
      display: flex;
      justify-content: space-between;
      h2{
        font-size: 1.5rem;
        font-weight: 300;
        color: $text-color;
      }
    }
  }
  &__content {
    padding: 1rem 2rem;
    @include respond(phone){
      padding: 1rem 0;
    }
    &--list {
    }
    &--item {
      display: flex;
      padding: 0.6rem 3.5rem;
      align-items: center;
      justify-content: space-between;
  
      span {
        svg {
          width: 4rem !important;
          height: auto !important;
        }
      }

     h1{
      font-size: 1.5rem;
        font-weight: 300;
        color:$text-color;
     }
    }
    &--info {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      h3 {
        padding-left: 1rem;
         font-size: 1.5rem;
        font-weight: 300;
        color:$text-color;
        text-transform: capitalize;
      }
    }
  }
}
